html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#app {
    margin: auto;
    width: 300px;
}

.game-field {
    height: 150px;
    width: 150px;
}

.game-field {
    flex-direction: row;
}

#green-button {
    background-color: #29BF12;
}

#red-button {
    background-color: #F21B3F;
}

#violet-button {
    background-color: #C4008C;
}

#blue-button {
    background-color: #09B2CB;
}
